.principal{
    padding-top: 20px;
    padding-bottom: 20px;
}
#hoja{
    border: grey solid 1px;
    height: 1250px;
    margin: 20px 0px;
}
#titulo_archivos{
    font-size: 30px;
    margin: 30px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lista_archivos_map li{
    margin: 40px 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width:600px){
    .principal{
        margin: 0px;
        padding: 10px 0px;
    }
    #hoja{
       width: 100%;
    }
    #titulo_archivos{
        font-size: 24px;
        margin: 30px 25px;
        
    }
}