#hoja_1{
    height: 1100px;
    border: grey solid 1px;
    margin: 20px 0px;
    padding: 20px 0px;
}
#hoja_1 h2{
    text-align: center;
    margin: 50px 0px;
}

#hoja_1 .texto_box{
    margin:10px 50px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:800px){
    #hoja_1 h2{
        font-size: 18px;
    }
    #hoja_1 .texto_box{
        font-size: 12px;
        margin:20px 40px;
        }
}
@media(max-width:600px){
    .principal_box2{
        margin: 0px;
        padding: 20px 0px;
    }
    #hoja_1{
        width: 100%;
        margin: 20px 0px;
        padding: 10px 0px;
    }
    #hoja_1 .texto_box{
        font-size: 10px;
        margin:10px 20px;
        }

}