#cards{
    margin: 40px 50px;
}
#cards .img{
    padding: 20px;
}
#cards a{
    margin: 20px 0px;
}
#jumbo{
    height: 350px;
    margin: 0px;
    border: 6px solid var(--nav-color);
}
#jumbo h3{
    font-family: 'Times New Roman', Times, serif;
}
#jumbo p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(max-width:1050px){
    #jumbo{
        height: 400px;
        margin: 0px;
        }
}
@media( max-width:800px){
    #jumbo{
        height:400px;
        margin: 0px;
    }
    #cards{
        margin: 20px 25px;
    }
    #cards .img{
        padding: 10px;
    }
}
@media(max-width:600px){
    #jumbo{
        margin: 0px;
        padding:0px
    }
    #jumbo h3{
     font-size:25px;
     padding-top: 40px;
     margin-bottom: 10px;   
    }
    #jumbo p{
        font-size: 15px;
    }
}