#hoja_1{
    border: grey solid 1px;
    margin: 40px 0px;
    padding: 20px 10px;
}
#hoja_1 .img_exp1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hoja_1 img{
    width:40%;
    height:10%;
    border-radius: 8px;
}
#hoja_1 .img_01{
    width: 15%;
    height: 10%;
    margin: 20px 0px;
}
#hoja_1 .img_02{
    width: 40%;
    height: 10%;
    border-radius: 8px;
}
#hoja_1 h3{
    text-align: center;
    margin-top: 20px;
}
#hoja_1 h4{
    margin: 30px 30px;
}
#hoja_1 p{
    margin:10px;
    font-size: 15px;
}
#pie_foto{
    text-align: center;
}
@media(max-width: 800px){
    #hoja_1 h3{
        font-size: 19px;
    }
    #hoja_1 ul{
        font-size: 10px;
    }
    #hoja_1 h4{
        font-size: 15px;
    }
    #hoja_1 p{
        margin:10px;
        font-size: 12px;
    }
}
@media(max-width: 600px){
    .principal_complejo{
        margin: 0px;
        padding: 0px;
    }
    #hoja_1{
        width: 100%;
        margin: 20px 0px;
        padding: 20px 0px;
    }
    #hoja_1 .img_01{
        width: 25%;
        height: 20%;
        margin: 10px 0px;
    }
    #hoja_1 h4{
        margin: 30px 10px;
    }

}