#titulo{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 80px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo_curso{
    margin-top: 10px;
}
.img_cursos{
   margin: 10px;
   width: 80%;
   height: 80%;
   border-radius: 4px;
}
.img_cursos_2{
    margin: 10px;
    width: 80%;
    height: 300px;
    border-radius: 4px;
 }
 .text_p2{
     margin-top:60px;
     font-size: 20px;
 }
#pie{
    text-align: center;
    margin: 20px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(max-width:800px){
    #titulo{
        font-size: 28px;
        padding-top: 25px;
        margin-bottom:40px;
    }
    .img_cursos{
        width: 80%;
        height: 175px;
    }
    .img_cursos_2{
        margin: 10px;
        width: 80%;
        height: 80%;
        border-radius: 4px;
     }
     .text_p2{
        margin-top:0px;
    }
    #cursos h2{
        font-size: 15px;
    }
    #cursos p{
        font-size: 12px;
    }
}


