#pie_pag{
    height:190px;
    background: var(--header-color);
}
#pie_pag .lista{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lista1{
    padding:11px;
}
#lista1 li{
    display:inline;
    padding-left:12px;
    padding-right:12px;
}
#lista1 i{
    color: #ffffff;
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100%;
    color:#ffffff;
    margin:0px;
    padding-top: 8px;
    font-size: 18px;
    text-align: center;
}
.copiraigth{
    font-size: 15px;
    color: #868282;
    text-align: center;
}
@media(max-width: 800px){
    #pie_pag{
        height: 155px;
    }
    .text{
        margin: 10px 0px;
        font-size: 10px;
        width: 100%;
    }
    #lista1 li{
        font-size:10px;
    }
    .copiraigth{
        font-size: 6px;
    }
}