#cabezera{
    height:20%;
    margin: 0px;
    padding: 0px;
}
#cabezera .box_principal{
    background:var(--header-color);
    height:220px;
    display: flex;
   justify-content: center;
   align-items: center;
}
#cabezera .box_1{
    margin: 0px;
    padding: 0px;
}
#cabezera .box1{
   background:var(--header-color);
   margin: 0px;
   padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#cabezera .box2 {
    background:var(--header-color);
    margin: 0px;
    padding: 0px;
    display: flex;
   justify-content: center;
   align-items: center;
}
#cabezera .box3{
    background:rgba(0,0,0,0);
    margin: 20px 0px;
    padding: 0px;
}
#cabezera h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #ffffff;
}
#cabezera .contenedor_img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
#cabezera img{
  width:70%;
  height:90%;
  padding: 0px;
  margin: 0px;
}
@media(min-width:1500px){
    #cabezera h1{
        font-size:65px;
    }
}
@media(max-width:1100px){
    #cabezera .box2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cabezera h1{
        font-size:37px;
        padding-right:10px;
    }
    #cabezera img{
        width:90%;
        height:90%;
        padding: 0px;
        margin: 0px;
      }
}
@media(max-width:1000px){
    #cabezera h1{
        font-size:30px;
        padding-right:10px;
    }
    #cabezera img{
        width:90%;
        height:90%;
        padding: 0px;
        margin: 0px;
      }
}
@media(max-width: 600px){
    #cabezera .box_principal{
        background:var(--header-color);
        height:150px;
    }
   #cabezera h1{
        font-size: 18px;
    }
    #cabezera img{
        width:100%;
        height:90%;
        padding: 0px;
        margin: 0px;
    }
}
