body{
    --header-color: #000000;
    --nav-color:#0F2446;
    margin: 0px;
    padding: 0px;
}

/*Le quito los margenes y paddings a los row de las secciones*/

.columna_2{
    margin: 0px;
    padding: 0px;
}
.miembros{
    margin: 0px;
    padding: 0px;
}
.comp_astro{
    margin: 0px;
    padding: 0px;
}

/*Sombra*/

.sombra{
    -webkit-box-shadow: -1px 0px 13px 5px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 0px 13px 5px rgba(0,0,0,0.52);
    box-shadow: -1px 0px 13px 5px rgba(0,0,0,0.52);
}




