.principal{
    padding-top: 20px;
    padding-bottom: 20px;
}
#hoja{
    border: grey solid 1px;
    height: 1250px;
    margin: 20px 0px;
}
#hoja .foto_cont{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hoja img{
    width: 55%;
    height:70%;
    border-radius: 10px;
}
#hoja p{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#hoja li{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width: 800px){
    #hoja .foto_cont{
        width: 100%;
        height:40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     #hoja img{
        width: 75%;
        height:60%;
    }
    #hoja p{
        font-size: 14px;
        padding: 20px 30px;
    }
    #hoja li{
        font-size: 12px;
    }
}
@media(max-width: 600px){
    .principal{
        margin: 0px;
        padding:0px;
}
    #hoja{
       width:100%;
    }
    #hoja .foto_cont{
        width: 100%;
        height:20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hoja p{
        padding: 0px;
    }
    #hoja li{
        font-size: 12px;
    }
}