.nav_1{
    background: var(--nav-color);
}
.nav_3{
    color: #ffffff;
    font-size: 18px;
    font-family: cursive;
    margin: 10px;
    text-decoration:none;
}
@media(min-width:800px){
    .nav_1{
        padding:20px 20px;
    }
}
@media(min-width:600px){
    .nav_1{
        padding:20px 5px;
    }
}
@media(max-width:600px){
    .nav_3{
         margin:0px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}