.principal{
    padding-top: 20px;
    padding-bottom: 20px;
}
#hoja{
    border: grey solid 1px;
    height: 1250px;
    margin: 20px 0px;
}
#hoja h3{
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
}
#hoja .ifr{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hoja iframe{
    width: 70%;
    height: 90%;
    margin:0px;
    padding:0px;
}
#hoja p{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media(max-width: 800px){
    #hoja h3{
        font-size: 20px;
        margin: 20px 0px;
    }
    #hoja .ifr{
        height: 25%;
    }
    #hoja iframe{
        width: 95%;
        height: 90%;
        margin:0px 20px;
        padding:0px 10px;
    }
}

@media(max-width: 600px){
    .principal{
        margin:0px;
        padding:0px;
    }
    #hoja{
        width: 100%;
    }
    #hoja h3{
        font-size: 15px;
        margin: 20px;
    }
    #hoja p{
        text-align: center;
        font-size: 14px;
    }

}